.container {
  padding: 1rem;
  max-width: 800px;
  margin: auto;
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.27) 2px 2px;
  margin-top: 5px;
  margin-bottom: 5px;

  h2 {
    color: #007acc;
  }
}
