.topoSite {
  background-color: #20232a;
  color: #61dafb;
  padding: 1rem;

 

  hr {
    border: none;
    border-top: 1px solid;
    margin: .4rem 0;
  }
}

.logo {
  width: 42px;
  vertical-align: middle;
  margin-right: 0.2rem;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    font-size: 1.5rem;
}

/* Classe/Seletor descendente */
/*  .topoSite a {
  text-decoration: none;
  color: orange;
} */

